.footer {
  width: 100%;
  height: auto;
}

.footer-image {
  display: none;
}

.footer-video, .footer-image {
  width: 42%;
  max-width: 350px;
  max-height: 150px;
}

.hide-video {
  display: none;
}

.display-image {
  display: block;
}

.outer-hover-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease-in-out;

  @media (min-width: $mantine-breakpoint-md) {
    flex-direction: row;
  }
}

.spinner-stopper-button {
  padding-top: 0;
  margin-top: 0;
  opacity: 12%;
  transition: 0.3s ease-in-out;
}

/* * Uncomment below property to change border-top when hovering over footer */
/* .footer:hover {
  border-top-color: light-dark(var(--mantine-color-red-9), var(--mantine-color-dark-5));
} */

.footer:hover .spinner-stopper-button {
  opacity: 1;
}

.footer-border-top-change:hover {
  border-top-color: light-dark(var(--mantine-color-green-2), var(--mantine-color-dark-5));
}

.inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-sm);
  position: relative;
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-lg);
    display: flex;
    justify-content: center;
  }
}
