/* src/components/BlogForm.module.css */
.blogForm {
    max-width: 600px; /* Adjust the width as needed */
    margin: auto;
    padding: 20px;
    background-color: #fff; /* Or any color that fits your design */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 9px; /* Spacing between form elements */
    align-items: center;
  }
  
  .inputLabel {
    font-family: Greycliff CF, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #333; /* Adjust label color */
    width: 100%;
  }
  
  .img-inputLabel {
    font-family: Greycliff CF, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #333; /* Adjust label color */
    width: 120px;
  }
  
  .textInput, .textArea {
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    width: 100%;
  }
  
  .textArea {
    overflow: hidden; /* Prevents scrollbar appearance during resizing */
    resize: none; /* Disable browser default resizing */
    height: auto; /* Larger area for content input */
    font-weight: 400;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    border-top: 1px lightgray solid;
    padding-top: 21px;
    width: 100%;
}
  
  .submitButton {
    background-color: #20BFDB; /* Primary button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #026055; /* Darker on hover */
  }

.imageBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  
  .imagePreview {
    max-width: 60%;
    height: auto;
    margin-top: 10px;
  }
  
  .article-profile-pic:hover {
    border-color: #20BFDB;
  }

  .profileImagePreview {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .main_image_preview {
    max-width: 90%;
    height: auto;
    margin-top: 10px;
  }
  
  .contentBlock {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .content-actions {
    display: flex;
    align-items: center;
  }

  .content-button {
    height: 1.5rem;
    margin-bottom: 9px;
    margin-right: 9px;
  }

  .content-mover-arrows {
    display: flex;
    flex-direction: column;
  }

  .remove-text-field:hover {
    background-color: lightgray;
  }